@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body{
    background-color: rgb(227, 240, 233);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.area {
    width: 1005;
    height: 200px;
}
.value-css{
    width: 95%;
    height: 80px;
}
.sinInternet{
    color: brown;
}